* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img {
    width: 70px;
}

header {
    display: flex;
    width: 1000px;
    margin: auto;

}

body {
    background-color: #1d1d1d;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section{
    background-color: rgb(224, 222, 222);
    color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    width: 50%;
}

#formulario {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#formulario p:nth-child(1) {
    margin-top: 20px;
}

#botao {
    background-color: rgb(12,112,242);
    color: white;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    align-self: center;
    margin: 20px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .3s;

}

#botao:hover {
    background-color: rgb(0, 81, 128);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.349);
}

.form {
    border: none;
    margin: 5px;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    align-self: center;
    padding: 5px 15px;
}